name: Build Binaries

on:
  push:
    branches: [ "main", "dev", "dev-*" ]
  pull_request:
    branches: [ "main", "dev", "dev-*" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build Binary
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.13", "3.14"]

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[build]

    - name: Build with PyInstaller
      run: |
        python scripts/build_binary.py

    - name: Upload Artifact
      if: ${{ matrix.python-version == '3.14' }}
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: sudoers-audit-${{ matrix.os }}
        path: |
          dist/sudoers-audit
          dist/sudoers-audit.exe
        if-no-files-found: error
